:root {
  --yellow: #e6b922;
  --dark: #412a1e;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* --------- Navbar Component Style ------- */
.navbar__menu {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  z-index: 10000;
}

.navbar__container {
  height: 100px;
  align-items: center;
  padding-top: 10px;
}

.logo {
  line-height: 80px;
  float: left;
  text-transform: uppercase;
  height: 70px;
  width: 70px;
}

.navbar__menu__container {
  float: right;
  line-height: 80px;
  list-style-type: none;
}

.navbar__menu__container li {
  display: inline;
  padding: 10px;
}

.navbar__menu__container .navbar-link {
  color: #412a1e;
  text-decoration: none;
  padding: 10px 10px;
  transition: all 0.4s;
}

.navbar__menu__container .navbar-link.active {
  position: relative;
}

.navbar__menu__container .navbar-link.active:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 60px;
  border-radius: 2px;
  background-color: #e6b922;
}

.show__menu__button {
  float: right;
}

.show__menu__button i {
  line-height: 70px;
}

.show__menu__button,
.hide__menu__button {
  transition: all 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show__menu__button:hover,
.hide__menu__button:hover,
.navbar__menu__container .navbar-link:hover {
  color: #412a1e;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 972px) {
  .show__menu__button,
  .hide__menu__button {
    display: block;
    color: #412a1e;
  }

  .hide__menu__button {
    color: #fff;
  }

  .navbar__menu__container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #e6b922;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 9998;
  }

  .navbar__menu__container .navbar-link {
    display: block;
    padding: 20px;
    color: #fff;
  }

  .navbar__menu__container .dropbtn {
    padding: 30px;
    color: #fff;
  }

  .hide__menu__button {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  #chk:checked ~ .navbar__menu__container {
    right: 0;
  }

  /* .form-section {
    margin: 0 auto;
    margin-top: -150px;
    max-width: 100%;
  } */
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./img/hero_contact.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Map Styling */
.map {
  height: 460px;
  width: auto;
}

.form-section {
  margin: -100px auto 100px auto;
  max-width: 85%;
}

.contact-form {
  background-color: #412a1e;
}

textarea.form-control.contact-form__message {
  height: 100px;
}

.contact-info {
  background: #f0eeee;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer {
  background-color: #412a1e;
  color: #b5b5b5;
}

.footer__link {
  color: inherit;
}

.footer__link:hover {
  color: #ffffff;
}

.footer__logo {
  font-family: 'Chakra Petch', sans-serif;
}

.footer__feeds {
  width: 20%;
}
